<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          Profil
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-row class="photo">
      <ion-col size="12" class="ion-align-self-center">
          <img src="{{profil['avatar']}}" alt="photoProfil">
      </ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="12">
        <ion-label class="title">Username</ion-label>
          <ion-item>
              <ion-label>{{profil['username']}}</ion-label>
          </ion-item><br>
          <ion-label class="title">Firstname</ion-label>
          <ion-item>
              <ion-label>{{profil['first_name']}}</ion-label>
          </ion-item><br>
          <ion-label class="title">Lastname</ion-label>
          <ion-item>
              <ion-label>{{profil['last_name']}}</ion-label>
          </ion-item><br>
          <ion-label class="title">Email</ion-label>
          <ion-item>
              <ion-label>{{profil['email']}}</ion-label>
          </ion-item><br>
          <ion-label class="title">Date de naissance</ion-label>
          <ion-item>
              <ion-label>{{profil['dateNaissance']}}</ion-label>
          </ion-item><br>
          <ion-label class="title">Téléphone</ion-label>
          <ion-item>
              <ion-label>{{profil['phone']}}</ion-label>
          </ion-item><br>
          <ion-button (click)="disconnected()"> Se deconnecter</ion-button>
      </ion-col>
  </ion-row>
  
</ion-content>