<ion-header>
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-toolbar >
    <ion-searchbar  (ionChange)="getResultSearchBar()" (ionFocus)="getResultSearchBar()" [(ngModel)]="valueSearchBar"></ion-searchbar>
    <ion-item>
      <ion-label>Categories</ion-label>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" value="test" (click)="getResultButton('test')">Test</ion-button>
        </ion-col>
        <ion-col >
          <ion-button expand="block" value="retest" (click)="getResultButton('retest')">ReTest</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  
  
    <ion-card *ngFor="let video of videos">
        <ion-card-header>
            <ion-card-subtitle>{{ video.author }}</ion-card-subtitle>
            <ion-card-title>{{ video.title }}</ion-card-title>
        </ion-card-header>
        <video  id="videoPlayer" width="100%" controls muted poster>
          <source src="{{ video.url }}" type="video/mp4"/>
        </video> 
        <ion-card-content [innerHTML]="video.description">
        </ion-card-content>
    </ion-card>
  </ion-content>
