<ion-content [fullscreen]="true">
  <ion-card *ngFor="let video of videos">
      <ion-card-header>
          <ion-card-subtitle>{{ video.author }}</ion-card-subtitle>
          <ion-card-title>{{ video.title }}</ion-card-title>
      </ion-card-header>
      <video id="videoPlayer" width="100%" controls muted poster>
        <source src="{{ video.url }}" type="video/mp4"/>
      </video>
      <ion-card-content [innerHTML]="video.description">
        
      </ion-card-content>
  </ion-card>
</ion-content>